* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
    font-size: 62.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1920px;
    min-width: 320px;
    width: 100%;
}

#header {
    background: url("../assets/img/parallax_one.png");
    min-height: 100rem;
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

#header h1 {
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.300);
    border-radius: 6rem;
    text-shadow: 1rem 1rem 1rem black;
    height: 20rem;
    width: 50rem;
    color: white;
    font-size: 3rem;
    background-color: transparent;
    text-align: center;
    margin: 40rem auto; 
    padding-top: 8rem;
}

.section-a {
    background: url("../assets/img/parallax_two.jpg");
}

.section-b {
    background: url("../assets/img/parallax_tree.jpg");
}

.section-c {
    background: url("../assets/img/parallax_four.jpg");
}

.section-d {
    background: url("../assets/img/parallax_five.png");
}

.section-e {
    background: url("../assets/img/parallax_six.jpg");
}

.section-a, .section-b, .section-c, .section-d, .section-e {
    min-height: 100rem;
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax{
    background-color: rgb(8, 21, 56);
    color: white;
    min-height: 30rem;
    height: auto;
    padding: 2rem;
}

.parallax h1{
    text-align: center;
    font-size: 5rem;
    padding: 2rem;
}

.parallax p{
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
}